USE [master]
GO
/****** Object:  Database [autokolcsonzo]    Script Date: 2025. 11. 10. 18:35:00 ******/
CREATE DATABASE [autokolcsonzo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'autokolcsonzo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\autokolcsonzo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'autokolcsonzo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\autokolcsonzo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [autokolcsonzo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [autokolcsonzo]
GO
/****** Object:  Table [dbo].[auto]    Script Date: 2025. 11. 10. 18:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auto](
	[AutoId] [int] NOT NULL,
	[FelhId] [int] NOT NULL,
	[Rendszam] [nvarchar](8) NOT NULL,
	[Kategoria] [nvarchar](3) NOT NULL,
	[Marka] [nvarchar](20) NOT NULL,
	[Leiras] [nvarchar](256) NULL,
	[BerletDij] [money] NOT NULL,
	[MuszakiVeg] [date] NOT NULL,
	[Hajtaslanc] [nvarchar](20) NOT NULL,
	[Gyartasido] [date] NOT NULL,
	[Fogyasztas] [varchar](4) NULL,
	[kepek] [nchar](10) NOT NULL,
	[ExtraBiztositas] [nvarchar](50) NULL,
 CONSTRAINT [PK_auto] PRIMARY KEY CLUSTERED 
(
	[AutoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Felhasznalo]    Script Date: 2025. 11. 10. 18:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Felhasznalo](
	[FelhId] [int] IDENTITY(1,1) NOT NULL,
	[VezNev] [nvarchar](32) NOT NULL,
	[KerNev] [nvarchar](32) NOT NULL,
	[SzulDate] [date] NOT NULL,
	[IranyitoSzam] [nchar](10) NOT NULL,
	[Lakcim] [nvarchar](50) NOT NULL,
	[LakkartyaSzam] [nchar](10) NOT NULL,
	[TelSzam] [char](11) NULL,
	[Email] [nvarchar](50) NOT NULL,
	[jelsz] [nvarchar](50) NOT NULL,
	[Isadmin] [binary](1) NULL,
	[likes] [int] NULL,
	[dislikes] [int] NULL,
 CONSTRAINT [PK_Felhasznalo] PRIMARY KEY CLUSTERED 
(
	[FelhId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Foglalas]    Script Date: 2025. 11. 10. 18:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Foglalas](
	[FoglalasId] [int] IDENTITY(1,1) NOT NULL,
	[FelhId] [int] NOT NULL,
	[AutoId] [int] NOT NULL,
	[Kezdet] [date] NULL,
	[Veg] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jogositvany]    Script Date: 2025. 11. 10. 18:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jogositvany](
	[KategoriaId] [int] NOT NULL,
	[FelhId] [int] NOT NULL,
	[kategoria] [nvarchar](50) NOT NULL,
	[Kiallitas] [date] NOT NULL,
	[Lejarat] [date] NOT NULL,
	[JogSzam] [char](8) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[auto]  WITH CHECK ADD  CONSTRAINT [FK_auto_Felhasznalo] FOREIGN KEY([FelhId])
REFERENCES [dbo].[Felhasznalo] ([FelhId])
GO
ALTER TABLE [dbo].[auto] CHECK CONSTRAINT [FK_auto_Felhasznalo]
GO
ALTER TABLE [dbo].[Foglalas]  WITH CHECK ADD  CONSTRAINT [FK_Foglalas_auto] FOREIGN KEY([AutoId])
REFERENCES [dbo].[auto] ([AutoId])
GO
ALTER TABLE [dbo].[Foglalas] CHECK CONSTRAINT [FK_Foglalas_auto]
GO
ALTER TABLE [dbo].[Foglalas]  WITH CHECK ADD  CONSTRAINT [FK_Foglalas_Felhasznalo] FOREIGN KEY([FelhId])
REFERENCES [dbo].[Felhasznalo] ([FelhId])
GO
ALTER TABLE [dbo].[Foglalas] CHECK CONSTRAINT [FK_Foglalas_Felhasznalo]
GO
ALTER TABLE [dbo].[Jogositvany]  WITH CHECK ADD  CONSTRAINT [FK_Jogositvany_Felhasznalo] FOREIGN KEY([FelhId])
REFERENCES [dbo].[Felhasznalo] ([FelhId])
GO
ALTER TABLE [dbo].[Jogositvany] CHECK CONSTRAINT [FK_Jogositvany_Felhasznalo]
GO
ALTER TABLE [dbo].[auto]  WITH CHECK ADD  CONSTRAINT [CK_muszaki_ervenyes] CHECK  ((datediff(year,[MuszakiVeg],getdate())>=(0) AND datediff(month,[MuszakiVeg],getdate())>=(0) AND datediff(day,[MuszakiVeg],getdate())>=(0)))
GO
ALTER TABLE [dbo].[auto] CHECK CONSTRAINT [CK_muszaki_ervenyes]
GO
ALTER TABLE [dbo].[auto]  WITH CHECK ADD  CONSTRAINT [CK_rendszam] CHECK  (([Rendszam] like '[A-Z][A-Z][A-Z][-][0-9][0-9][0-9][]' OR [Rendszam] like '[A-Z][A-Z][A-Z][A-Z][-][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[auto] CHECK CONSTRAINT [CK_rendszam]
GO
ALTER TABLE [dbo].[Felhasznalo]  WITH CHECK ADD  CONSTRAINT [CK_Iranyitosz] CHECK  ((CONVERT([int],[IranyitoSzam])<(9985) AND CONVERT([int],[IranyitoSzam])>(1000)))
GO
ALTER TABLE [dbo].[Felhasznalo] CHECK CONSTRAINT [CK_Iranyitosz]
GO
ALTER TABLE [dbo].[Felhasznalo]  WITH CHECK ADD  CONSTRAINT [CK_IRSZ] CHECK  (([LakkartyaSzam] like '
[0-9][-]
[0-9][0-9][0-9][0-9][0-9][0-9][-]
[0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Felhasznalo] CHECK CONSTRAINT [CK_IRSZ]
GO
ALTER TABLE [dbo].[Felhasznalo]  WITH CHECK ADD  CONSTRAINT [CK_Szuletes_datum] CHECK  ((datediff(year,[SzulDate],getdate())<(100)))
GO
ALTER TABLE [dbo].[Felhasznalo] CHECK CONSTRAINT [CK_Szuletes_datum]
GO
ALTER TABLE [dbo].[Felhasznalo]  WITH CHECK ADD  CONSTRAINT [CK_Telszam] CHECK  (([TelSzam] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Felhasznalo] CHECK CONSTRAINT [CK_Telszam]
GO
ALTER TABLE [dbo].[Jogositvany]  WITH CHECK ADD  CONSTRAINT [CK_Jogszam] CHECK  (([JogSzam] like '[A-Z][A-Z][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Jogositvany] CHECK CONSTRAINT [CK_Jogszam]
GO
ALTER TABLE [dbo].[Jogositvany]  WITH CHECK ADD  CONSTRAINT [CK_lejarat] CHECK  ((datediff(year,[Lejarat],getdate())>=(0) AND datediff(month,[Lejarat],getdate())>=(0) AND datediff(day,[Lejarat],getdate())>=(0)))
GO
ALTER TABLE [dbo].[Jogositvany] CHECK CONSTRAINT [CK_lejarat]
GO
USE [master]
GO
