.reg_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #121212;
    color: #E0E0E0;
    font-family: Arial, sans-serif;
} 
  
.reg_box {
      background-color: #1F1F1F;
      position: relative;
      padding: 25px;
      border-radius: 10px;
      width: 410px;
      height: auto;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.header h2 {
    margin: 0;
    font-weight: bold;
}
  
.form_group {
      margin-bottom: 20px;
}
  
.form_group label {
      display: block;
      margin-bottom: 5px;
      font-size: 14px;
      font-weight: bold;
}
  
.form_group input[type="text"],
.form_group input[type="email"],
.form_group input[type="password"] {
      width: 100%;
      padding: 10px;
      background-color: #333333;
      border: 1px solid #555555;
      border-radius: 5px;
      color: #FFFFFF;
      box-sizing: border-box;
    font-size: 15px;
}
  
.reg_button {
      width: 100%;
      padding: 12px;
      background-color: #1DB954;
      color: white;
      border: none;
      border-radius: 25px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-top: 10px;
}
  
.reg_button:hover {
    background-color: #168a40;
}
  
  
  
  /* ===== REGISZTRÁCIÓ ===== */
  .close_btn {
    position: absolute;
    top: 5px; 
    right: 5px; /* Áthelyezés a jobb oldalra */
    text-decoration: none;
    color: #AAAAAA;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    line-height: 1; 
    transition: color 0.3s;
  }
.close_btn:hover{
    cursor: pointer;
}



.checkbox_group {
    margin-top: 25px;
    margin-bottom: 30px;
}
  
.checkbox_item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    font-size: 14px;
}
.checkbox_item input:hover{
    cursor: pointer;
}
  
.checkbox_item input[type="checkbox"] {
    margin-top: 3px;
    margin-right: 10px;
    /* Egyedi zöld jelölőnégyzet stílusa */
    accent-color: #1DB954; 
  }
  /* Stílus a fő jelölőnégyzetnek, hogy kicsit kiemelkedjen, ha szükséges */
.master_checkbox_item {
    font-weight: bold;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
    margin-bottom: 15px !important;
  }